window.OOM_CONFIG = {
  APPWRITE_ENDPOINT: 'https://cloud.appwrite.io/v1',
  APPWRITE_PROJECT: '', // Remplir ici avec l'ID de ton projet Appwrite
  DB_ID: 'ou_on_mange',
  COL_USERS: 'users',
  COL_RESTAURANTS: 'restaurants'
};
